@media (min-width: 1200px){
    #footer {
        margin: auto;
        max-width: 1340px;
        color: #666;
        text-align: center;
        display: block;
        vertical-align: center;
    }
}



@media (min-width: 900px) {
    #footer .footer-container {
        margin: 0 45px;
    }
}

#footer .footer-container {
    padding: 45px 0;
    border-top: 1px solid #20B2AA;
    font-size: 14px;
}

#footer .footer-container .left {
    float: left;
    font-weight: 700;
    letter-spacing: 1rem;
}

#footer .footer-container .right {
    float: right;
}
