@import 'header.scss';
@import 'navbar.scss';

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css";

.reload-movies {
    margin: 1rem 0 2rem 0;
    padding: 0.5rem;
    width: 80%;
    height: 50px;
    border: none !important;
    background-color: rgb(32, 178, 170, 0.8);
    color: #ffffff !important;
    font-weight: 100;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    letter-spacing: 3px;
}

.reload-movies:hover {
    color: #20B2AA !important;
    font-weight: 700 !important;
    background: none;
    border: none;
    letter-spacing: 7px;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.67);
    transition: all 0.3s ease 0s;
}

@media (max-width: 9000px) {
    #rig li {
        width: 25%;
    }
}

@media (max-width: 800px) {
    #rig li {
        width: 33.33%;
    }
}

@media (max-width: 500px) {
    #rig li {
        width: 50%;
    }
}

@media (max-width: 350px) {
    #rig li {
        width: 100%;
    }
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    cursor: pointer;
}

.movie-image {
    position: relative;
    width: 90%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}
.image-overlay > * {
    transform: translateY(20px) scale(1.02);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.movie-image {
    display: block;
}

.trailer-button {
    flex-grow: 1;
    text-align: center;
    opacity: 0.4;
}

.trailer-button i {
    border-radius: 25vw;
    background: rgba(0, 0, 0, 0.5);
    border: 0.1em solid white;
    padding: 1.2vw;
    font-size: 1.5vw;
    margin-top: 70px;
    margin-bottom: 20px;
}
.trailer-button:hover {
    color: red;
    opacity: 1;
    transition: 0.2s;
    visibility: visible;
}
h4 {
    padding-top: 4px;
}
.movie-title {
    padding: 1rem;
    background-color: transparent;
}
.movie-title h2 {
    font-size: 15px;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
}

.movie-title h2:hover {
    color: crimson;
}
