.trailer-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.trailer-actions {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    justify-content: center;
}

.trailer-actions div {
    margin-right: 1rem;
}

.trailer-button button {
    padding: 0.5rem;
    border: 2px solid #a9a9ce;
    color: #575786;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
}

.close button {
    color: #ff5858;
    border: 2px solid #ff5858;
}
